swagger: '2.0'
info:
  title: Azure CAM Ingest
  version: '1.0'
  description: Alarm Ingest
host: compasspreprod.azure-api.net
basePath: ''
schemes:
  - http
  - https
securityDefinitions:
  apiKeyHeader:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
  apiKeyQuery:
    type: apiKey
    name: subscription-key
    in: query
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
paths:
  /alarm-ingest:
    post:
      tags:
        - alarm
      summary: Send an alarm
      description: ''
      operationId: sendAlarm
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: alarm
          in: body
          schema:
            $ref: '#/definitions/Alarm'
          description: Alarm object that needs to be sent

      responses:
        '200':
          description: OK
        '405':
          description: Invalid input
definitions:
  Alarm:
    type: object
    properties:
      reporter:
        type: string
        description: The registered system reporting the alarm
      end_point_id:
        type: string
        description: The ID of the host/application
      category:
        type: string
        description: What specific type of problem being reported?
      message:
        type: string
        description: The message to the operator describing the problem
      informer:
        type: string
        description: The host sending this alarm
      status:
        type: string
        description: Status (severity) if the alarm
        enum:
          - CRITICAL
          - WARNING
          - OK
      alarm_type:
        type: string
        description: What entity is sending the alarm
        enum:
          - host
          - application
    example: "{\r\n  \"reporter\": \"azure\",\r\n  \"end_point_id\": \"some_host_or_application_id\",\r\n  \"alarm_type\": \"host\",\r\n  \"status\": \"[ CRITICAL| WARNING | OK]\",\r\n  \"category\": \"the_type_of_alarm\",\r\n  \"message\": \"Ignore this test from Azure\",\r\n  \"informer\": \"some_host_or_application_id\",\r\n  \"occurred_at\": \"2018-03-23T14:00:45Z\"\r\n}"
